.content {
  display: flex;
  justify-content: center;
  align-items: center;

  &__products {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    margin-top: 25px;

    @media(max-width: 1000px) {
      grid-template-columns: repeat(auto-fill, 200px);
    }
  }
  &__product {
    margin: 25px 24px;
  }
}
